@keyframes Floating {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Shrinking {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.floating {
  animation: Floating 0.5s ease-in-out forwards;
}

.shrinking {
  animation: Shrinking 0.5s ease-in-out forwards;
}
