$height: 40px;

.frame {
  height: $height;
  border-radius: calc($height/2);
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom-style: solid;
}
